.title-bg {
  padding: 100px;
  background: url("Creating yourself.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
}

.title-h1 {
  color: Indigo ;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.title-h2 {
    color: MidnightBlue ;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.about-bg {
  padding: 100px;
  background-color: #ffffe6;
  font-family: 'Raleway';
  font-size: 18px;
}

.my-video {
  background-color: honeydew;
  display: flex;
  align-items: center;
  justify-content: center;
}
