.title-bg {
  padding: 400px;
  background: url("Creating yourself 2.jpg");
  background-size: 50%
  position: relative;
  background-repeat: no-repeat;
}

.title-h1 {
  color: Indigo ;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.title-h2 {
    color: MidnightBlue ;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.about-bg {
  padding: 100px;
  background-color: #ffffe6;
  font-family: 'Raleway';
  font-size: 18px;
}

.my-video {
  background-color: honeydew;
  display: flex;
  align-items: center;
  justify-content: center;
}
