.title-bg {
  padding: 200px;
  background: url("Creating yourself 3.jpg");
  background-style="border:5px LightGoldenRodYellow"
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120%;
}


.title-h1 {
  color: dark grey ;
  font-family: 'Pacifico';
  font-size: 90px;
}

.title-h2 {
    color: dark grey ;
  font-family: 'Pacifico', cursive;
  font-size: 90px;
}

.title-h3 {
  color: black;
  font-family: 'Kaushan Script', bold;
  font-size: 40px;
}

.about-bg {
  padding: 100px;
  background-color: #ffffe6;
  font-family: 'Raleway';
  font-size: 18px;
}

.my-video {
  background-color: tistle;
  display: flex;
  align-items: center;
  justify-content: center;
}
